public-hoist-pattern[]=*@babel/*
public-hoist-pattern[]=*babel-plugin*
public-hoist-pattern[]=*babel-preset*
public-hoist-pattern[]=*@tarojs/*
public-hoist-pattern[]=*postcss*
public-hoist-pattern[]=*core-js*
